<div class="mt-4 mb-5">
   <button class="bg-white border-0"> <img src="assets\image\Logo.png" (click)="toggleMethod()"></button>
</div>
<div *ngIf="toggle" class="mt-3">
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/dashboard"><i
                        class="fa-solid fa-table-columns"></i> Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/laptop/"><i
                        class="fa-regular fa-folder"></i> Classes</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact/"><i
                        class="fa-regular fa-folder-open"></i> Resources</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/product/"><i
                        class="fa-regular fa-calendar"></i> Learning plan</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/login/"><i
                        class="fa-regular fa-message"></i> Chat</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/service/"><i
                        class="fa-regular fa-pen-to-square"></i> Settings</a></li>
        </ul>
    </nav>
</div>
