<div class="row">
    <header>
        <div class="row">
            <div class="col-md-12">
                <h6 class="dashboard">Dashboard</h6>
                <div class="text-end">{{date | date: 'dd MMMM yyyy, EEEE' }}</div>
                <input type="text" class="form-control input1">
                <i class="fa-solid fa-magnifying-glass search"></i>
            </div>
        </div>
    </header>
    <footer>
        <b>Your courses</b>
        <span class="more">More <i class="fa-solid fa-arrow-right-long"></i></span>
        <div class="row mt-2">
            <div class="col-md-4 ">
                <div class="bg-1">
                    <span class="b2">B2</span>
                    <span class="be"><small>Business English</small></span>
                    <strong class="grammar">Grammar</strong>
                    <span><i class="fa-solid fa-arrow-right-long icon4"></i></span>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="bg-1 bg-5">
                    <span class="b2 b5">B2</span>
                    <span class="be"><small>Common English</small></span>
                    <strong class="grammar ph">Phrasal verbs</strong>
                    <span><i class="fa-solid fa-arrow-right-long icon4 icon5"></i></span>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="bg-1 bg-3">
                    <span class="b2 b3">C1</span>
                    <span class="be"><small>Business Spanish</small></span>
                    <strong class="grammar">Vocabulary</strong>
                    <span><i class="fa-solid fa-arrow-right-long icon4"></i></span>
                </div>
            </div>
        </div>
    </footer>
</div>
